.App {
    background-color: #f4f4f4;
    min-height: 100vh;
    color: black;
    padding: 120px;
    width: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
  }

.row {
    display: block;
}

.kotak {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
}

.nama {
    font-weight: bold;
}

.gambar {
    width: 500px; /*any size*/
    height: 300px; /*any size*/
  }
  
.gambar img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*magic*/
    border-radius: 10px;
  }

.details {
    padding: 15px;
}

.detail {
    padding-top: 10px;
}
